<div class="digital-clock">
  <app-digital-clock-digit [digit]="timeService.hoursStream | async"></app-digital-clock-digit>
  <div class="digital-clock-separator" [class.digital-clock-separator--off]="seconds % 2"></div>
  <app-digital-clock-digit [digit]="timeService.minutesStream | async"></app-digital-clock-digit>
  <div class="digital-clock-separator" [class.digital-clock-separator--off]="seconds % 2"></div>
  <app-digital-clock-digit [digit]="timeService.secondsStream | async"></app-digital-clock-digit>
</div>
