* {
    box-sizing: border-box;
}

:host {
    margin: auto;
}

$clock-size: 20rem;
$size: $clock-size / 20;

.analog-clock {
    width: $clock-size;
    height: $clock-size;
    position: relative;
}

.clock-face {
    width: $clock-size;
    height: $clock-size;
    border-radius: 50%;
    border: $clock-size / 100 solid var(--color-primary);
    background: var(--color-primary-extra-muted);
}

@mixin clock-hand($height, $width, $color) {
    $hand-width: $width * $clock-size / 200;
    $hand-length: $height * $clock-size;
    $hand-extend: $clock-size / 20;
    width: $hand-width;
    height: $hand-length;
    background: $color;
    position: absolute;
    left: ($clock-size / 2) - ($hand-width / 2);
    bottom: ($clock-size / 2) - $hand-extend;
    transform-origin: center ($hand-length - $hand-extend);
    box-shadow: 0 0 $clock-size * 0.01 black;
}

[class^='clock-hand-hours'] {
    @include clock-hand($height: 0.35, $width: 4, $color: var(--color-primary));
    z-index: 1;
}

[class^='clock-hand-minutes'] {
    @include clock-hand($height: 0.45, $width: 2, $color: var(--color-primary));
    z-index: 2;
}

[class^='clock-hand-seconds'] {
    @include clock-hand(
        $height: 0.45,
        $width: 1,
        $color: var(--color-inverted)
    );
    z-index: 3;
}

[class^='clock-face-graduation'] {
    position: absolute;
    $graduation-size: $clock-size / 100;
    $graduation-offset: $clock-size / 50;
    left: $clock-size / 2 - $graduation-size / 2;
    top: $graduation-offset;
    background: var(--color-primary-muted);
    width: $graduation-size;
    transform-origin: center ($clock-size / 2 - $graduation-offset);
}

[class^='clock-face-number'] {
    // background: orange;
    $number-size: $clock-size / 10;
    $number-offset: $clock-size / 15;
    font-size: $number-size;
    position: absolute;
    width: $number-size;
    line-height: $number-size;
    top: $number-offset;
    left: $clock-size / 2 - $number-size / 2;
    height: $clock-size / 2 - $number-offset;
    color: var(--color-primary-muted);
    transform-origin: center bottom;
    text-align: center;

    span {
        position: absolute;
        width: $number-size;
        height: $number-size;
        transform-origin: center center;
        left: 0;
        top: 0;
    }
}

.graduation-large {
    height: $clock-size / 40;
}

.graduation-medium {
    height: $clock-size / 20;
}

.graduation-small {
    height: $clock-size / 100;
}

.clock-date {
    $date-font-size: $clock-size / 20;
    font-size: $date-font-size;
    $date-height: $date-font-size * 1.75; // $date-size: $clock-size / 20;
    $date-border-size: $clock-size / 200;
    position: absolute;
    top: $clock-size / 2 - $date-height / 2;
    right: $clock-size / 10;
    border: $date-border-size solid var(--color-primary-muted);
    border-radius: $clock-size / 200;
    color: var(--color-primary);
    display: flex;
    line-height: $date-height - 2 * $date-border-size;
    z-index: 0;
    background: black;

    div {
        text-align: center;
    }

    .clock-date-weekday {
        width: 3 * $date-font-size;
        text-transform: uppercase;
    }

    .clock-date-day {
        width: 2 * $date-font-size;
        border-left: $date-border-size solid var(--color-primary-muted);
    }

    .clock-date-month {
        border-left: $date-border-size solid var(--color-primary-muted);
        width: 2.5 * $date-font-size;
        text-transform: uppercase;
    }
}

.clock-face-number--3 {
    transform: rotate(90deg);
    display: none;
}

.clock-face-number--3 span {
    transform: rotate(-90deg);
}

.clock-face-number--6 {
    transform: rotate(180deg);
}

.clock-face-number--6 span {
    transform: rotate(-180deg);
}

.clock-face-number--9 {
    transform: rotate(270deg);
}

.clock-face-number--9 span {
    transform: rotate(-270deg);
}

@for $i from 0 to 60 {
    .clock-face-graduation--#{$i},
    .clock-hand-seconds--#{$i},
    .clock-hand-minutes--#{$i} {
        transform: rotate($i * 6deg);
    }
}

@for $i from 0 to 24 {
    @for $j from 0 to 60 {
        $degrees: ($i % 12) * 30;
        $degrees: $degrees + $j / 2;
        .clock-hand-hours--#{$i}--#{$j} {
            transform: rotate(#{$degrees}deg);
        }
    }
}
