$nav-height: 40px;
:host {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: $nav-height auto;

    // These variables are set in app.component.ts
    --color-h: 0; /* Hue        */
    --color-s: 0; /* Saturation */
    --color-l: 0; /* Lightness  */
}

.app-navigation {
    line-height: $nav-height;
    opacity: 0.25;
    transition: opacity 0.3s linear;
    display: flex;

    &:hover {
        opacity: 1;
    }

    a,
    label {
        padding: 0 20px;
        cursor: pointer;
        color: #09c;
        text-decoration: none;

        &:hover {
            color: #0cf;
        }

        &.app-navigation--active {
            color: #0ff;
        }
    }
}

.app-setcolor {
    margin-left: auto;
}

#color {
    display: none;
}

.app-body {
    display: flex;
}
